In [7]:
import pandas as pd

file=pd.read_excel('file.xlsx')
file.head(5)

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

In [1]:

import openpyxl

workbook = openpyxl.load_workbook('file.xlsx')                   # Open the workbook
worksheet = workbook.active                                      # Get the first sheet

for i, row in enumerate(worksheet.iter_rows(values_only=True)):  # Iterate over rows and columns
    if i == 5:
        break
        
    for cell in row:
        print(cell, end='\t')                                    # Print the cell value

    print('\n')

0	First Name	Last Name	Gender	Country	Age	Date	Id

1	Dulce	Abril	Female	United States	32	15/10/2017	1562

2	Mara	Hashimoto	Female	Great Britain	25	16/08/2016	1582

3	Philip	Gent	Male	France	36	21/05/2015	2587

4	Kathleen	Hanner	Female	United States	25	15/10/2017	3549

In [36]:
import xlrd

workbook = xlrd.open_workbook('file.xls')    # Open the workbook
worksheet = workbook.sheet_by_index(0)       # Get the first sheet

for i in range(min(5, worksheet.nrows)):     # Iterate over rows and columns
    row = worksheet.row_values(i)
    
    for cell in row:
        print(cell, end='\t')                # Print the cell value
 
    print('\n')

1.0	Eldon Base for stackable storage shelf, platinum	Muhammed MacIntyre	3.0	-213.25	38.94	35.0	Nunavut	Storage & Organization	0.8

2.0	1.7 Cubic Foot Compact "Cube" Office Refrigerators	Barry French	293.0	457.81	208.16	68.02	Nunavut	Appliances	0.58

3.0	Cardinal Slant-DÂ® Ring Binder, Heavy Gauge Vinyl	Barry French	293.0	46.7075	8.69	2.99	Nunavut	Binders and Binder Accessories	0.39

4.0	R380	Clay Rozendal	483.0	1198.971	195.99	3.99	Nunavut	Telephones and Communication	0.58

5.0	Holmes HEPA Air Purifier	Carlos Soltero	515.0	30.94	21.78	5.94	Nunavut	Appliances	0.5